# Logs
src/utils/logs

# Prisma
prisma/migrations/
prisma/backups/
src/types/generated/
!prisma/backups/README.md

# Uploaded content
src/uploads/*
!src/uploads/*/README.md
!src/uploads/avatars/default-avatar.webp

#misc
package-lock.json