<%- include('blocks/header', { auth: auth }) %>
<div class="container">
  &nbsp;
  <div class="jumbotron text-center">
    <p>Hello</p>
    <p><%= NumFiles%> files uploaded</p>
  </div>
</div>
<%- include('blocks/footer') %>
