<%- include('../blocks/header', { auth }) %>
<link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css'>
<link href="/css/style.css" rel="stylesheet">
<div style="padding-top:10px"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      <%- privacy%>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
</div>
<%- include('../blocks/footer') %>
<style>
  body {
    background: linear-gradient(to right, #808080, #A7A6A6);
  }
</style>
