<div id="sidebar-wrapper">
  <ul class="sidebar-nav h-100">
    <li><a href="/recent"><i class="fas fa-history"></i> Recent</a></li>
    <li><a href="/favourites"><i class="fas fa-star"></i> Favourites</a></li>
    <li><a href="/shared"><i class="fas fa-share-alt"></i> Shared</a></li>
    <!--Bottom of sidebar-->
    <li style="bottom: 0; position: absolute; overlay: none;">
      <label>110MB of 5GB used</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
    <li style="bottom: 0; position: absolute; overlay: none;"><a href="#">Deleted files</a></li>
    </ul>
</div>
