<% if (typeof error != 'undefined') { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>An error has occured!</strong> <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if (typeof success != 'undefined') { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> <%= success %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>
