BETTER_AUTH_URL=""
BETTER_AUTH_SECRET=""
NEXT_PUBLIC_COMPANY_NAME=""

BACKEND_URL=""
DATABASE_URL=""

## Social Providers
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""