<!-- example 2 - using auto margins -->
<nav class="navbar navbar-expand">
  <div class="navbar-collapse w-100 dual-collapse2">
    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="searchIcon">
          <button class="btn btn-outline-secondary" style="width:40px;padding:2px;" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-search"></i></button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form action="/files/search" method="post">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Search</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="text" class="form-input form-control text-truncate" placeholder="Search files and folders" aria-label="Amount (to the nearest dollar)" name="search" autocomplete="off">
                  &nbsp;
                  <div class="form-group">
                    <label for="inputGroupSelect01">File type(s)</label>
                    <select class="custom-select" id="inputGroupSelect01" name="fileType">
                      <option value="0" selected>Any type</option>
                      <option value="1">Files</option>
                      <option value="2">Folders</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputGroupSelect01">Date updated</label>
                    <select class="custom-select" id="inputGroupSelect01" name="dateUpdated">
                      <option value="0" selected>Any time</option>
                      <option value="1">Past day</option>
                      <option value="2">Past week</option>
                      <option value="3">Past month</option>
                      <option value="4">Past year</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" type="button" class="btn btn-primary">Search</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </span>
        <span class="searchBar">
        <form action="/files/search" method="post">
          <!-- Actual search box -->
          <div class="input-group mb-3 w-100">
            <div class="input-group-prepend">
              <button id="searchIconBtn" type="submit" class="input-group-text" style="background-color:#f4f4f4;border:none;border-radius:8px 0px 0px 8px;" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fas fa-search"></i></button>
            </div>
            <input type="text" class="form-input form-control text-truncate" style="border:none;background-color:#f4f4f4" placeholder="Search files and folders" aria-label="Amount (to the nearest dollar)" name="search" autocomplete="off">
            <div class="input-group-append" id="filter">
              <span data-toggle="tooltip" data-placement="bottom" title="Search options">
                <button id="fileTypeButton" class="btn btn-outline-secondary dropdown-toggle" style="background-color:#f4f4f4;border-radius:0px 8px 8px 0px;border:none;color:#505762;height:38px" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-sliders-h"></i>
                </button>
              <span>
              <div class="dropdown-menu p-4" style="width:100%;padding:15px;box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25)">
                <div class="form-group">
                  <label for="inputGroupSelect01">File type(s)</label>
                  <select class="custom-select" id="inputGroupSelect01" name="fileType">
                    <option value="0" selected>Any type</option>
                    <option value="1">Files</option>
                    <option value="2">Folders</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputGroupSelect01">Date updated</label>
                  <select class="custom-select" id="inputGroupSelect01" name="dateUpdated">
                    <option value="0" selected>Any time</option>
                    <option value="1">Past day</option>
                    <option value="2">Past week</option>
                    <option value="3">Past month</option>
                    <option value="4">Past year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
        </span>
      </li>
    </ul>
  </div>
  <div class="mx-auto">
  </div>
  <div class="navbar-collapse w-100 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="dropdown mr-1" id="notifications">
          <a class="nav-link" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell" id="notifIcons"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right p-4 text-muted" style="width: 300px;">
            <h6 class="dropdown-header">Notifications - 0</h6>
            <p class="mb-0">You currently have no notifications.</p>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/avatar/<%= user._id%>" style="width:25px;height:25px" class="rounded-circle" alt="User avatar"> <span class="side-text"><%= user.name %></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item text-dark" href="/user/dashboard">Dashboard</a>
          <a class="dropdown-item text-dark" href="/files">My files</a>
          <% if (user.group == "Dev")  { %>
          <a class="dropdown-item text-dark" href="/admin">Admin</a>
          <% } %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/user/logout" id="logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<style media="screen">
  #filter::after {
    content: none;
  }
  .searchIcon {
    display: none;
  }
  .form-input:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border: 1px solid #d0d6dc;
    border-right:none;
  }
  @media (max-width: 1260px) {
    #navbarDropdown::after {
      content: none;
    }
  }
  @media (max-width: 710px) {
    .searchIcon {
      display: block
    }
  }

</style>

<script type="text/javascript">
  const x = document.getElementsByClassName('form-input')[1]
  const y = document.getElementById('fileTypeButton')
  const z = document.getElementById('searchIconBtn')
  x.addEventListener("focus", myFocusFunction, true);
  x.addEventListener("blur", myBlurFunction, true);

  function myFocusFunction() {
    x.style.backgroundColor = "white";
    y.style.backgroundColor = 'white';
    z.style.backgroundColor = 'white';
    x.style.borderTop = '1px solid black';
    x.style.borderBottom = '1px solid black';
    //endpoint
    y.style.borderTop = '1px solid black';
    y.style.borderBottom = '1px solid black';
    y.style.borderRight = '1px solid black';
    //start point
    z.style.borderTop = '1px solid black';
    z.style.borderBottom = '1px solid black';
    z.style.borderLeft = '1px solid black';
  }

  function myBlurFunction() {
    x.style.border = 'none'
    x.style.backgroundColor = "#f4f4f4";
    //endpoint
    y.style.border = 'none'
    y.style.backgroundColor = '#f4f4f4';
    //start point
    z.style.border = 'none';
    z.style.backgroundColor = '#f4f4f4';
  }

  $('#notifications').on('show.bs.dropdown', function() {
    $('#notifIcons').css('color', 'black')
  })

  $('#notifications').on('hide.bs.dropdown', function() {
    $('#notifIcons').css('color', 'grey')
  })
</script>
