<footer class="page-footer font-small blue" style="position:absolute; bottom:0;width: 100%;">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> FileSharer.com</a>
  </div>
  <!-- Copyright -->
</footer>
